@import '@carbon/colors/scss/colors';
@import '@carbon/type/scss/type'; 

//-------------------------
// dark theme styles
//-------------------------

@mixin accordion-dark {
    ul, li, button {
        color: $text-01;
    }

    li {
        border-color: $carbon--gray-80;
    }
    
    button:hover:before {
        background-color: $carbon--gray-80;
    }
    
    svg {
        fill: $text-01;
    }
}

@mixin borders-dark {
    border-color: $carbon--gray-80;
}

@mixin checkbox-dark {
    .bx--checkbox-label::before {
        border-color: $carbon--gray-10;
    }

    input:checked ~ .bx--checkbox-label::before, input:indeterminate ~ .bx--checkbox-label::before {
        background-color: $carbon--gray-10;
    }

    input:checked ~ .bx--checkbox-label::after, input:indeterminate ~ .bx--checkbox-label::after{
        border-color: #000000;
    }
}

@mixin custom-tile-dark {
    div {
        background-color: $gray-90;
    }
    img {
        filter: invert(100%);
    }
}

@mixin data-table-dark {
    @include checkbox-dark;

    .bx--data-table-container {
        background-color: #1E2529;
        
        h4 {
            color: white;
        }

        p {
            color: #ABABAB
        }

        .bx--data-table-header, .bx--table-toolbar, .bx--data-table tbody, tr, td {
            background-color: inherit;
        }

        .bx--data-table tbody tr:hover {
            background-color: #343D43;
        }
    
        th {
            background-color: #343D43;
            color: white;
        }
    
        td {
            border-color: #343D43;
            color: #ABABAB
        }

    }
}

@mixin inline-select-dark {
    .inline-select {
        border: none;

        .bx--select-input {
            background: none;
            color: white;
        }
    }
}

@mixin output-panel-dark {
    background-color: #1E2529;
    .output-title {
        color: #ababab;
    }
}

@mixin select-dark {
    .bx--select  {
        border-bottom: 1px solid #8D8D8D;
        label {
            color: inherit;
        }

        svg {
            fill: white;
        }
    }

    .bx--label {
        color: inherit;
    }

    .bx--select-input__wrapper:hover .bx--select-input {
        background-color: #343D43;
    }

    .bx--select-input {
        background-color: #1E2529;
        color: white;
    }
}

@mixin text-inputs-dark {
    input, textarea {
        background-color: #1E2529   ;
        color: white;
    }
}

@mixin themed-image-dark {
    img {
        &:first-of-type {
            display: none;
        }
    }
}

@mixin tutorial-page-dark {
    background-color: $gray-90;
    
    .tutorial-heading-background {
        background-color: black;
    }
}

@mixin tutorial-tabs-dark {    
    .bx--tabs_nav-link {
        border-bottom: none;
        border-top: 2px solid $gray-80;
    
        &:focus:active {
            outline: none;
            border-bottom-color: $gray-80;
        }
    }
    
    a.bx--tabs__nav-link {
        color: white;
        border-bottom-color: $gray-80;
    }

    a.bx--tabs__nav-link:focus, a.bx--tabs__nav-link:active {
        outline: none;
    }
    
    .bx--tabs__nav-item {
        background-color: $gray-80;    
    
        &:hover {
            &:not(.bx--tabs__nav-item--disabled):not(.bx--tabs__nav-item--selected) {
                background-color: $gray-80;
    
                .bx--tabs__nav-link {
                    border-bottom: none;
                }
            }
        }
    }
    
    .bx--tabs__nav-item .bx--tabs__nav-link {
        -webkit-transition: none;
        transition: none;
    }
    
    .bx--tabs__nav-item--selected {
        background-color: $gray-90;
    
        &:not(.bx--tabs__nav-item--disabled) {
            &:hover {
                background-color: $gray-90;
            }
    
            .bx--tabs__nav-link {
                border-bottom: none;
                border-top: 2px solid $blue-40;
    
                &:focus {
                    border-bottom: none;
                }
            }
        }
    }
}


//-------------------------
// light theme styles
//-------------------------

@mixin themed-image-light {
    img {
        &:nth-of-type(2) {
            display: none;
        }
    }
}
